{% extends "base.html" %}


{%block head%}

<style type="text/css">
  #players {
    padding-top: 10px;
  }
</style>

{%endblock%}



{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-success pull-right col-xs-1" id="on-off-btn" data-toggle="button">
        <span class="glyphicon glyphicon-play"> OFF</span>
      </a>
    </div>
  </div>

  <div class="row" id="players">
    <div class="col-xs-12 well">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Volk</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


{% endblock content %}

{%block script%}
  <script type="text/javascript">
    var updateIntervalId = -1;
    var row = "<tr><td>NAME</td><td>TEAM</td><td>NATION</td></tr>";
    var currentContent = null;

    function update_table (players) {
      var content = "";
      if(players){
        for (var i = 0; i < players.length; i++) {
          var player = players[i];
          var playerRow = row.replace("NAME", player["name"]).replace("TEAM", player["team"]).replace("NATION", player["nation"]);
          content += playerRow;
        }
      }
      var tbody = $("#players tbody").html(content);
    }

    function ajaxResponse(res, status) {
      if(status == "success"){
        console.log(res.responseText);
        var players = JSON.parse(res.responseText);
        update_table(players);


        if(currentContent != null && currentContent.toString() == players.toString()){
          console.log(players);
          return;
        }
        currentContent = players;
        console.log(currentContent);
      }
    }

    function get_update(){
      var args = { type:"POST", url:"/ajax/update/", data:{}, complete:ajaxResponse };
      $.ajax(args);
    }


    function activateUpdate() {
      updateIntervalId = setInterval(get_update, 5000);
    }

    function stopUpdate () {
      if(updateIntervalId < 1) return;
      clearInterval(updateIntervalId);
      updateIntervalId = -1;
    }


    $("#on-off-btn").click(function(){
      var btn = $(this);
      var isOn = !btn.hasClass("active");
      var span = $(btn.find("span")[0]);
      if(isOn){
        span.removeClass("glyphicon-play");
        span.addClass("glyphicon-stop");
        span.html(" ON");
        activateUpdate();
      } else {
        span.removeClass("glyphicon-stop");
        span.addClass("glyphicon-play");
        span.html(" OFF");
        stopUpdate();
      }
    });

    get_update();

  </script>
{%endblock script%}