{% extends "base.html" %}


{%block head%}

{%endblock%}



{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-success pull-right col-xs-1 active" id="on-off-btn" data-toggle="button">
        <span class="glyphicon glyphicon-play"> OFF</span>
      </a>
    </div>
  </div>
{% endblock content %}

{%block script%}
  <script type="text/javascript">
    var updateIntervalId = -1;
    function ajaxResponse(res, status) {
      console.log(status, res);
    }

    function get_update(){
      var args = { type:"POST", url:"/ajax/update/", data:{}, complete:ajaxResponse };
      $.ajax(args);
    }


    function activateUpdate() {
      updateIntervalId = setInterval(get_update, 2000);
    }

    function stopUpdate () {
      if(updateIntervalId < 1) return;
      clearInterval(updateIntervalId);
      updateIntervalId = -1;
    }


    $("#on-off-btn").click(function(){
      var btn = $(this);
      var isOn = btn.hasClass("active");
      var span = $(btn.find("span")[0]);
      if(isOn){
        span.removeClass("glyphicon-play");
        span.addClass("glyphicon-stop");
        span.html(" ON");
        activateUpdate();
      } else {
        span.removeClass("glyphicon-stop");
        span.addClass("glyphicon-play");
        span.html(" OFF");
        stopUpdate();
      }
    });

  </script>
{%endblock script%}